.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 700px;

  }
  .banner {
    display: flex;
    justify-content: space-between;
    
    border-radius: 24px;
    background: rgb(198, 228, 214);
   margin-left: 15%;
   
    width: 1280px;
    height: 560px;
  }
  .intro{
    
    padding-left: 60px;
    padding-top: 60px;
    height: 622px;
    height: 326px;
  }
  .hero{
    height: 500px;
    width: 500px;
    padding-right: 60px;
   padding: 30px 80px 60px;
  }
  .subtitle{
    color: rgba(14, 14, 14, 0.5);

font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
  }
  .title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

  }
  .bt1{
    border-radius: 8px;
background: rgb(0, 106, 80);
width: 270px;

height: 56px;
  }
  /* vision of  */
  .vision {
    margin-left: 15%;
    width: 1280px;
    height: 560px;
    margin-top: 80px;
    background-color: whitesmoke;
    border-radius: 15px;
    
    
  }
  .headtwo{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
margin: 24px;
padding-top: 24px;

  }
  .vbd{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 24px;
  }
  .futurebd{
    display: flex;
  }
  .di1 {
    
    box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
margin-right: 24px;
width: 410.67px;
height: 325px;
margin-left: 24px ;

  }
  .di2 {
    
    box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
margin-right: 24px;
width: 410.67px;

height: 325px;
  }
  .di3{
    box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
width: 410.67px;
margin-right: 24px;
height: 325px;
  }
  .vimage{
    width: 49.66px;
    height: 53.09px;
    padding-left: 45px;
    padding-top: 33px;
    
    
  }
  .on{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding-left: 45px;
  }
  .para{
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding-left: 45px;
padding-right: 24px;
padding-top: 0px;

  }
  .btu1{
    border-radius: 8px;
background: rgb(84, 144, 245);
width: 122px;
height: 41px;

padding: 11px 20px 11px 20px;
margin-left: 45px;
border: 0;
  }
  .btu2{
    border-radius: 8px;
background: rgb(9, 161, 92);
border: 0;
width: 122px;

height: 41px;
padding: 11px 20px 11px 20px;
margin-left: 45px;
margin-top: 20px;


  }
  .btu3{
    border-radius: 8px;
background: rgb(255, 194, 57);
width: 122px;

height: 41px;
margin-left: 45px;
border: 0px;

  }
  /* recent news */
  .rhead{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin: 24px;
padding-top: 24px;
  }
  .rpara{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin: 24px;
  }
  .ronenews{
    display: flex;
    flex-direction: column;
  }
  .sata{
    border-radius: 24px;
    width: 408px;

height: 306px;

  }
 .satpara1{
  display: flex;
  flex-direction: row;
 }
 .sec3{
  background-color: whitesmoke;
  margin-left: 15%;
  margin-right: 16.5%;
  border-radius: 15px;
  height: 1430px;
  width: 1280px;
 }
 .sata1
 {
  background-color:white;
  border-radius: 24px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  width: 1200px;

height: 402px;
  
 }
 .ims{
  border-radius: 24px;
  width: 408px;
  height: 306px;
  margin-left: 48px;
  margin-top: 60px;

  
 }
 .last{
  padding-left: 32px;
 }
 .nsata{
  color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
line-height: 38px;
padding-top: 48px;
margin: 12px 0px;


 }
 .alzazi{
  width: 134px;
  
height: 40px;
 }
 .time{
  color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;


 }
 .sap1{
  color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-right: 48px;
 }
 .bt5{
  border-radius: 8px;
background: rgb(0, 106, 80);
width: 139px;
height: 48px;
border: 0;

 }
 .sata2
 {
  background-color:white;
  border-radius: 24px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  width: 1200px;

height: 402px;
margin-top: 24px;
  
 }
 .sata3{
  background-color:white;
  border-radius: 24px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  width: 1200px;
  margin-top: 24px;
height: 402px;
 }
 .donate{
  background-color: whitesmoke;
  margin-left: 15%;
  margin-right: 16.5%;
  border-radius: 15px;
  width: 1280px;
height: 650px;
 }
 .hdonate{
  olor: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
margin: 24px;
padding-top: 58px;
 }
 .padonate{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
padding-left: 88px;
padding-right: 88px;
padding-top: 24px;
 }
 .taka{
  display: flex;

 }
 .taka100{
  width: 240px;
height: 128px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
margin-left: 105px;
margin-top: 32px;
display: flex;
justify-content: center;
align-items: center;
color: rgba(14, 14, 14, 0.8);
font-size: 40px;
font-weight: 700;
line-height: 48px;

 }
 .taka200{
  
 
  width: 240px;
height: 128px;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(198, 228, 214);
margin: 0px 24px;
margin-top: 32px;
margin-left: 24px;
color: rgba(14, 14, 14, 0.8);
font-size: 40px;
font-weight: 700;
line-height: 48px;

   
 }
 .taka500{
  width: 240px;
  height: 128px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
 }
 .taka1000{
  width: 240px;
  height: 128px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  margin-left: 24px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px
 }
 .amount{
  
  box-sizing: border-box;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
background: rgb(255, 255, 255);
padding: 20px 40px 20px 40px;
  
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 70px;
  width: 1023px;
 }
 .lastbt{
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
background: rgb(0, 106, 80);
width: 151px;
height: 56px;

margin-left: 564px;
margin-top: 50px;
 }
 /* newsletter sub sec */
 .news{
  border-radius: 24px;
background: rgb(198, 228, 214);
width: 1280px;
height: 395px;
margin-left: 15%;
  margin-right: 16.5%;
  margin-top: 60px;
 }
.n1{
  color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
padding-top: 85px;
}
.n2{
  color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-top: 10px;
text-align: center;
}
.n3{
  width: 600px;
height: 55px;
border-radius: 8px 0px 0px 8px;
background: rgb(255, 255, 255);
border: none;
margin-right: -2px;
margin-left: 5px;
}
.n4{
  border-radius: 0px 8px 8px 0px;
background: rgb(0, 106, 80);
width: 150px;
height: 56px;
border: none;
margin-left: -2px;
display: inline-block;

}
.mil{
  margin-top: 40px;
  text-align: center;
}
.n5{
  color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
margin-top: 30px;
}
.fdi{
  width: 1600px;
height: 226px;
text-align: center;


}
.f1{
  text-align: center;
  margin-top: 80px;
  color: rgb(14, 14, 14);
font-size: 32px;
font-weight: 700;
line-height: 38px;


}