.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;

  }
  .banner {
    display: flex;
    justify-content: space-between;
    
    border-radius: 24px;
    background: rgb(198, 228, 214);
   margin-left: 15%;
   
    width: 1280px;
    height: 560px;
  }
  .intro{
    
    padding-left: 60px;
    padding-top: 60px;
    height: 622px;
    height: 326px;
  }
  .hero{
    height: 500px;
    width: 500px;
    padding-right: 60px;
   padding: 30px 80px 60px;
  }
  .subtitle{
    color: rgba(14, 14, 14, 0.5);

font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
  }
  .title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;

  }
  .bt1{
    border-radius: 8px;
background: rgb(0, 106, 80);
width: 270px;

height: 56px;
  }
  /* vision of  */
  .vision {
    margin-left: 15%;
    width: 1280px;
    height: 560px;
    margin-top: 80px;
    background-color: whitesmoke;
    border-radius: 15px;
    
    
  }
  .headtwo{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
margin: 24px;

  }
  .vbd{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 24px;
  }
  .futurebd{
    display: flex;
  }
  .di1{
    box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
margin-right: 24px;
width: 410.67px;
height: 325px;
margin-left: 24px ;

  }
  .di2{
    box-sizing: border-box;
border-radius: 16px;
background: rgb(198, 228, 214);
margin-right: 24px;
width: 410.67px;

height: 325px;
  }
  .di3{
    box-sizing: border-box;
border-radius: 16px;
background: rgb(247, 235, 207);
width: 410.67px;
margin-right: 24px;
height: 325px;
  }
  .vimage{
    width: 49.66px;
    height: 53.09px;
    padding-left: 45px;
    padding-top: 33px;
    
    
  }
  .on{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding-left: 45px;
  }
  .para{
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding-left: 45px;
padding-right: 24px;
padding-top: 0px;

  }
  .btu1{
    border-radius: 8px;
background: rgb(84, 144, 245);
width: 122px;
height: 41px;

padding: 11px 20px 11px 20px;
margin-left: 45px;
border: 0;
  }
  .btu2{
    border-radius: 8px;
background: rgb(9, 161, 92);
border: 0;
width: 122px;

height: 41px;
padding: 11px 20px 11px 20px;
margin-left: 45px;
margin-top: 20px;


  }
  .btu3{
    border-radius: 8px;
background: rgb(255, 194, 57);
width: 122px;

height: 41px;
margin-left: 45px;
border: 0px;

  }
  /* recent news */
  .rhead{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
margin: 24px;
  }
  .rpara{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin: 24px;
  }
  .ronenews{
    display: flex;
    flex-direction: column;
  }
  .sata{
    border-radius: 24px;
    width: 408px;

height: 306px;

  }
 .satpara1{
  display: flex;
  flex-direction: row;
 }
 .sec3{
  background-color: whitesmoke;
  margin-left: 15%;
  margin-right: 16.5%;
  border-radius: 15px;
  height: 1415px;
 }
 .sata1
 {
  background-color:white;
  border-radius: 24px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  width: 1200px;

height: 402px;
  
 }
 .ims{
  border-radius: 24px;
  width: 408px;
  height: 306px;
  margin-left: 48px;
  margin-top: 60px;

  
 }
 .last{
  padding-left: 32px;
 }
 .nsata{
  color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
line-height: 38px;
padding-top: 48px;
margin: 12px 0px;


 }
 .alzazi{
  width: 134px;
  
height: 40px;
 }
 .time{
  color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;


 }
 .sap1{
  color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-right: 48px;
 }
 .bt5{
  border-radius: 8px;
background: rgb(0, 106, 80);
width: 139px;
height: 48px;
border: 0;

 }
 .sata2
 {
  background-color:white;
  border-radius: 24px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  width: 1200px;

height: 402px;
margin-top: 24px;
  
 }
 .sata3{
  background-color:white;
  border-radius: 24px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  width: 1200px;
  margin-top: 24px;
height: 402px;
 }